
/* Fugue Headline */

@font-face {
    font-family: 'fugueHeadline';
    src: url('fonts/fugue_headline/fugue_headline-webfont.eot');
    src: url('fonts/fugue_headline/fugue_headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fugue_headline/fugue_headline-webfont.woff') format('woff'),
         url('fonts/fugue_headline/fugue_headline-webfont.ttf') format('truetype'),
         url('fonts/fugue_headline/fugue_headline-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Fugue Mono */

@font-face {
    font-family: 'fugueMono';
    src: url('fonts/fugue_mono/fugue_mono-webfont.eot');
    src: url('fonts/fugue_mono/fugue_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fugue_mono/fugue_mono-webfont.woff') format('woff'),
         url('fonts/fugue_mono/fugue_mono-webfont.ttf') format('truetype'),
         url('fonts/fugue_mono/fugue_mono-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Fugue Regular */

@font-face {
    font-family: 'fugueRegular';
    src: url('fonts/fugue_regular/fugue_regular-webfont.eot');
    src: url('fonts/fugue_regular/fugue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fugue_regular/fugue_regular-webfont.woff') format('woff'),
         url('fonts/fugue_regular/fugue_regular-webfont.ttf') format('truetype'),
         url('fonts/fugue_regular/fugue_regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}